<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/component.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <nav id="nav" class="navbar navbar-expand-lg" :style="menuColor">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> {{ marca }} </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" v-for="menu in menus" :key="menu.etiqueta">
              <a class="nav-link" aria-current="page" :href="menu.url">{{ menu.etiqueta }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="producto" class="container">
      <div class="row">
        <h3>{{ nombre }} </h3>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <img :src="imagen" alt="" width="100%" />
        </div>
        <div class="col-12 col-sm-6 col-md-8">
          <h6>
            <contador></contador>
          </h6>
          <div class="p-3 mb-2 text-white" :style="precioEstilos">
            Precio: {{ precio }}
          </div>
          <h5>Color</h5>
          <div class="color-box clic" v-for="color in colores" :style="color">
            
          </div>
          <h5>Cantidad</h5>
          <div class="quantity">
            <button>-</button>
            <div>1</div>
            <button>+</button>
          </div>
          <div class="buy-box">
            <button type="button" class="btn btn-primary">Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="producto_rel" class="container">
      <div class="row">
        <h4>Productos relacionados</h4>
      </div>
      <div class="row" >
        <div class="col" v-for="producto in productos" :key="producto.id">
          <div class="card" style="width: 18rem">
            <div class="card-body" >
              <h5 class="card-title"> {{producto.nombre}} </h5>
              <img
                :src="imagen"
                alt=""
                width="100%"
              />
              <p class="card-text">
                {{ producto.descripcion }}
              </p>
              <div class="producto-relacionado-precio">Precio: {{ producto.precio }} BOB</div>
              <div>
                <div>
                  <div class="color-box" v-for="color in producto.colores" :style="color"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
    </div>

    <footer id="footer" :style="footerColor"></footer>

    <script src="assets/js/configuracion.js"></script>
    
  </body>
</html>
